# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.venv

# La barra indica que va a ignorar el archivo titanic.csv en el proyecto
/titanic.csv 

# Si quiero ignorar todos los csv dentro de los datos
# datos/*.csv

